<%= form_with(model: shoe, local: true) do |form| %>
  <% if shoe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shoe.errors.count, "error") %> prohibited this shoe from being saved:</h2>

      <ul>
        <% shoe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </p>

  <p class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <p class="field">
    <%= form.label :colorway %>
    <%= form.text_field :colorway %>
  </p>

  <p class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </p>

  <p class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </p>

  <p class="actions">
    <%= form.submit %>
  </p>
<% end %>
