<aside class="hovercard" data-hovercard-target="card">
  <article class="shoe">
    <h1><%= @shoe.name %></h1>
    <p><%= @shoe.brand %></p>
    <p><%= @shoe.colorway %> • <%= number_to_currency(@shoe.price) %></p>
    <%= image_tag @shoe.image.variant(resize_to_limit: [150, 100]), alt: @shoe.name %>
  </article>
</aside>
