<p id="notice"><%= notice %></p>

<h1>Shoes</h1>

<ul id="shoes">
  <% @shoes.each do |shoe| %>
    <li
      data-controller="hovercard"
      data-hovercard-url-value="<%= hovercard_shoe_path(shoe) %>"
      data-action="mouseenter->hovercard#show mouseleave->hovercard#hide"
    >
      <%= link_to shoe.name, shoe %>
      <%= link_to 'Edit', edit_shoe_path(shoe) %>
      <%= link_to 'Destroy', shoe, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Shoe', new_shoe_path %>
