<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @shoe.brand %>
</p>

<p>
  <strong>Name:</strong>
  <%= @shoe.name %>
</p>

<p>
  <strong>Colorway:</strong>
  <%= @shoe.colorway %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shoe.price %>
</p>

<%- if @shoe.image.attached? %>
<p>
  <%= image_tag @shoe.image, alt: @shoe.name %>
</p>
<% end %>

<%= link_to 'Edit', edit_shoe_path(@shoe) %> |
<%= link_to 'Back', shoes_path %>
